@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Tampilan Utama */
.containercrud {
    max-width: 100%;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 80px;
    background-color: #f9f9f1;
}

/* Teks Review */
h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin-top: 25px;
    color: #895b43; /* Mengubah warna teks */
}

/* Teks Kualitas Produk */
h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: start;
    margin-top: 25px;
    color: #895b43; /* Mengubah warna teks */
}
.review-text {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-size: 35px;
    font-style: normal;
    text-align: start;
    color: #895b43; /* Mengubah warna teks */
    padding-top: 20px;
}

/* Star */
.rating-stars {
    font-size: 30px; /* Mengurangi ukuran font untuk membuat bintang lebih kecil */
    text-align: center; /* Untuk membuat bintang-bintang berada di tengah */
    padding-bottom: 20px;
}
.rating-stars img {
    width: 30px; /* Ukuran gambar bintang */
    height: 30px; /* Ukuran gambar bintang */
}
.rating-stars img:hover {
    filter: grayscale(0%) sepia(100%) saturate(1000%) brightness(150%)
        hue-rotate(10deg);
}

/* Upload File */
.form-upload-pictures,
.form-upload-videos {
    margin: 10px;
    padding: 10px;
    border: 1px solid #d5af88;
    border-radius: 10px;
    background-color: #f9f9f1;
    margin-bottom: 45px;
    text-align: center; /* Tengahkan konten */
    cursor: pointer; /* Menjadikan cursor menjadi pointer saat di atasnya */
    transition: transform 0.2s ease; /* Efek transisi saat button dihover */
}
/* Menyesuaikan ukuran button untuk menutupi seluruh bagian dalam border */
.form-upload-pictures,
.form-upload-videos {
    width: 100%; /* Lebar penuh */
    min-height: 150px; /* Tinggi minimum agar seluruh bagian dalam border dapat dijangkau */
}
/* Smaller image size */
.form-upload-pictures img,
.form-upload-videos img {
    width: 75px; /* Adjust width as needed */
    height: 75px; /* Adjust height as needed */
    margin-bottom: 10px; /* Add space between image and label */
}
/* Place text below images */
.form-upload-pictures label,
.form-upload-videos label {
    display: block; /* Set label menjadi blok */
    margin-top: 10px; /* Tambahkan margin atas */
}
/* Efek transisi saat button dihover */
.form-upload-pictures:hover,
.form-upload-videos:hover {
    transform: scale(1.05); /* Memperbesar button saat dihover */
}

/* Input Text */
textarea {
    width: calc(100% - 20px); /* Ubah lebar input dan textarea */
    padding: 10px;
    border: 1px solid #d5af88; /* Batas default */
    background-color: #f9f9f1; /* Ubah latar belakang teks */
    font-family: "Poppins", sans-serif; /* Menggunakan font Poppins */
    font-size: 16px; /* Ukuran font */
    border-radius: 5px; /* Menggunakan border-radius */
    margin-left: 15px;
}
/* Input Text hover effect */
textarea:hover {
    border-color: #895b43; /* Ubah warna border saat hover */
}
/* Input Text focus effect */
textarea:focus {
    outline: none; /* Hilangkan outline saat focus */
    border-color: #895b43; /* Ubah warna border saat focus */
    box-shadow: 0 0 5px rgba(137, 91, 67, 0.5); /* Tambahkan shadow saat focus */
}
/* Center the textarea */
.row2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* Button Submit */
button {
    background-color: #895b43;
    color: #fff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 30px;
    width: 150px;
}
button:hover {
    background-color: #6e4936;
}
