.btn-floating {
    position: fixed;
    right: 25px;
    overflow: hidden;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    border: 0;
    z-index: 9999;
    color: white;
    transition: .2s;
}

.btn-floating:hover {
    width: auto;
    padding: 0 20px;
    cursor: pointer;
}

.btn-floating span {
    font-size: 16px;
    margin-left: 5px;
    transition: .2s;
    line-height: 0px;
    display: none;
}

.btn-floating:hover span {
    display: inline-block;
}

.btn-floating:hover img {
    margin-bottom: -3px;
}

.btn-floating.whatsapp {
    bottom: 25px;
    background-color: #34af23;
    border: 2px solid #fff;
}
.icon-wa{
    padding-top: 4px;
    width: 100%;
}
.btn-floating.whatsapp:hover .icon-wa{
    padding-top: 4px;
    width: 18%;
}

.btn-floating.whatsapp:hover .number-wa{
    position: relative;
    left: 13px;
    top: -25px;
}


.btn-floating.whatsapp:hover {
    background-color: #1f7a12;
    width: 220px;
}
